@page "/"
@using DevExpress.Blazor.Internal
@using DevExpress.Blazor.Navigation.Internal

<div class="jumbotron">
    <h1 class="display-4">TimChen Tools</h1>
    <p class="lead">这是超超使用Blazor做的工具包，包含代码生成、组件二次封装、新特性实验等。</p>
    <hr class="my-4">
    <p><img class="fit-width" src="images/banner.png" /></p>
    <a class="btn btn-primary btn-lg" href="https://demos.devexpress.com/blazor/" target="_blank">DevExpress介绍</a>
</div>

<ul class="list-group" style="margin-top:30px">
  <li class="list-group-item" style="padding-top:40px">An item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>