@page "/"
@using DevExpress.Blazor.Internal
@using DevExpress.Blazor.Navigation.Internal

<div class="jumbotron">
    <h1 class="display-4">CC.Blazor.Dx</h1>
    <p class="lead">
        基于DevExpress Blazor控件，补充缺失组件（通知、对话框等），再次分装进一步简化组件使用，最终目标是提高开发效率。
    </p>
    <p class="lead">
        Based on the DevExpress Blazor control, the missing components (notifications, dialog boxes, etc.) are supplemented, and the components are repackaged again to further simplify the use of components. The ultimate goal is to improve development efficiency.
    </p>
    <hr class="my-4">
    <p><img class="fit-width" src="images/banner.png" /></p>
    <a class="btn btn-primary btn-lg" href="https://demos.devexpress.com/blazor/" target="_blank">DevExpress介绍</a>
</div>