@page "/Components/InputGroup"
<h3>InputGroup</h3>

<CcInputGroup SizeMode="SizeMode.Small">
    <CcInputGroupText Text="Prefix"></CcInputGroupText>
    <DxTextBox />
    <DxButton Text="Action" />
</CcInputGroup>

<CcInputGroup SizeMode="SizeMode.Medium">
    <CcInputGroupText Text="Prefix"></CcInputGroupText>
    <DxTextBox SizeMode="SizeMode.Medium" />
    <DxButton Text="Action" />
</CcInputGroup>

<CcInputGroup SizeMode="SizeMode.Large">
    <CcInputGroupText Text="Prefix"></CcInputGroupText>
    <DxTextBox SizeMode="SizeMode.Large" />
    <DxButton Text="Action" />
</CcInputGroup>